<h1>Editing Todo List</h1>

<%= render 'form' %>

<%= link_to '   preview', @todo_list,({:class=>"fa fa-low-vision",:style =>"font-size:20px"}) %> 
<%= link_to '   back', todo_lists_path,({:class=>"fa fa-arrow-left margin",:style =>"font-size:20px"}) %>
