<h1 align="center">New Todo List</h1>

<%= render 'form' %>
<div class=row>
<div class="col-4">
</div>
<div>
<%= link_to '  Back', todo_lists_path,({:class=>"fa fa-arrow-left margin",:style =>"font-size:20px"}) %>
</div>
</div>